<!--Hospital information-->
{% extends "hospitalapp/base.html" %}
{% block content %}
<div class="row p-5">
	<div class="col">
		<h1 class="myhead2">ABOUT THE HOSPITAL</h1>
		<hr>
	</div>
	<div class="row text-justify">
		<div class="col-sm-6">
			<p>AB Hospitals Dhaka is the only JCI Accredited 425-bed multi-disciplinary super-specialty tertiary care hospital in Bangladesh, confidently providing comprehensive health care with the latest medical, surgical and diagnostic facilities. These services are provided by expert medical professionals, skilled nurses and technologists using state-of-the-art technology. The hospital started its operation on April 16, 2005 with a mission to provide high quality international standard healthcare which will meet the needs and exceed the expectations of the people of Bangladesh. It is an eleven-storied building built on four acres of land with 435,000 square feet floor space, which was constructed with assistance of renowned architecture company Smith Group, USA. The hospital is a joint project of Apollo Hospitals Enterprise Limited and STS Holdings Limited (STS Group).

            </p>
			
		</div>
		<div class="col-sm-6">
<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://youtu.be/8G1OmSd3CFU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>		
		</div>
	</div>
</div>
{% endblock %}
