<!-- Hospital contact number-->
      {%extends "hospitalapp\base.html"%}
      {%load staticfiles%}
      {%block content%}
     <div class="jumbotron bg-#dab3ff" style="margin-top:80px;" id="Team">
        <div class="container">
          <h2 class="text-center text-red">Contact Us</h2>
          <div class="row mt-5">
            <div class="col-lg-3 col-sm-6">
              <div class="card shadow-lg mb-2">
                <div class="card-body text-center">
                  <img src="{% static "image/contact.png" %}" alt=""class="img-fluid" style="border-radius:100px;">
                 <h4 class="card-title">Phone numbers</h4> 
                 <p class="card-text">044447588 </p> 
                 <p class="card-text">065447588 </p> 
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-sm-6">
             <div class="card shadow-lg mb-2">
               <div class="card-body text-center">
                 <img src="{% static "image/contact1.png" %}" alt=""class="img-fluid" style="border-radius:100px;">
                <h4 class="card-title">Email</h4> 
                <p class="card-text"> abhospital11@gmail.com </p> 
                <p class="card-text"> abhospital22@gmail.com </p> 
               </div>
             </div>
           </div>

           <div class="col-lg-3 col-sm-6">
             <div class="card shadow-lg mb-2">
               <div class="card-body text-center">
               </br> </br>
                 <img src="{% static "image/contact2.png" %}" alt=""class="img-fluid" style="border-radius:100px;">
                <h4 class="card-title">Twitter</h4> 
                <p class="card-text"> <a>https://bit.ly/32Bz7z</a></p>
                <p class="card-text"> <a>https://bit.ly/32Bz7z</a></p>
                <p class="card-text"> <a>https://bit.ly/32Bz7z</a></p>
                
               </div>
             </div>
           </div>

           <div class="col-lg-3 col-sm-6">
             <div class="card shadow-lg mb-2">
               <div class="card-body text-center">
                 <img src="{% static "image/contact3.png" %}" alt=""class="img-fluid" style="border-radius:100px;">
                <h4 class="card-title">Facebook</h4> 
                <p class="card-text"> www.facebook.com</p> 
                <p class="card-text"> www.facebook.com</p> 
               </div>
             </div>
           </div>

          </div>
        </div>
      </div>
     
       {%endblock%}
 
       
       
 
 
 